<a href="https://colab.research.google.com/github/arsalan1664/sql-test/blob/main/sql_in_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataBase Name = sqlite sakila

# Question




> How many movies are there in each rating category?



> What is the total number of movies in each category held in inventory?



>What is the total number of movies in each category held in inventory?

>Which movies of rating 'PG' are held in highest quantity in the inventory?

> What movies has each actor starred in and who has starred in the most movies?




> Overdue rentals,Payments per rental, payments per date, payments per store

In [ ]:
### Import library ###

import pandas as pd

%load_ext sql

### Connect to SQlite database ###

%sql sqlite:////content/sqlite-sakila.sq

'Connected: @/content/sqlite-sakila.sq'

In [ ]:
%%sql
SELECT type, name
FROM sqlite_master
WHERE type = 'table';

 * sqlite:////content/sqlite-sakila.sq
Done.

[('table', 'actor'),
 ('table', 'country'),
 ('table', 'city'),
 ('table', 'address'),
 ('table', 'language'),
 ('table', 'category'),
 ('table', 'customer'),
 ('table', 'film'),
 ('table', 'film_actor'),
 ('table', 'film_category'),
 ('table', 'film_text'),
 ('table', 'inventory'),
 ('table', 'staff'),
 ('table', 'store'),
 ('table', 'payment'),
 ('table', 'rental')]

In [ ]:
table_actor    =  %sql  SELECT     *      FROM actor ;
table_country  =  %sql  SELECT     *      FROM country ;
table_category =  %sql  SELECT     *      FROM category ;
table_film     =  %sql  SELECT     *      FROM film ;

 * sqlite:////content/sqlite-sakila.sq
Done.
 * sqlite:////content/sqlite-sakila.sq
Done.
 * sqlite:////content/sqlite-sakila.sq
Done.
 * sqlite:////content/sqlite-sakila.sq
Done.

In [ ]:
%sql  SELECT     *      FROM country where country_id = 1;

 * sqlite:////content/sqlite-sakila.sq
Done.

[(1, 'Afghanistan', '2011-09-14 18:05:01')]

In [ ]:
 %sql  SELECT   first_name , last_name      FROM actor

 * sqlite:////content/sqlite-sakila.sq
Done.

[('PENELOPE', 'GUINESS'),
 ('NICK', 'WAHLBERG'),
 ('ED', 'CHASE'),
 ('JENNIFER', 'DAVIS'),
 ('JOHNNY', 'LOLLOBRIGIDA'),
 ('BETTE', 'NICHOLSON'),
 ('GRACE', 'MOSTEL'),
 ('MATTHEW', 'JOHANSSON'),
 ('JOE', 'SWANK'),
 ('CHRISTIAN', 'GABLE'),
 ('ZERO', 'CAGE'),
 ('KARL', 'BERRY'),
 ('UMA', 'WOOD'),
 ('VIVIEN', 'BERGEN'),
 ('CUBA', 'OLIVIER'),
 ('FRED', 'COSTNER'),
 ('HELEN', 'VOIGHT'),
 ('DAN', 'TORN'),
 ('BOB', 'FAWCETT'),
 ('LUCILLE', 'TRACY'),
 ('KIRSTEN', 'PALTROW'),
 ('ELVIS', 'MARX'),
 ('SANDRA', 'KILMER'),
 ('CAMERON', 'STREEP'),
 ('KEVIN', 'BLOOM'),
 ('RIP', 'CRAWFORD'),
 ('JULIA', 'MCQUEEN'),
 ('WOODY', 'HOFFMAN'),
 ('ALEC', 'WAYNE'),
 ('SANDRA', 'PECK'),
 ('SISSY', 'SOBIESKI'),
 ('TIM', 'HACKMAN'),
 ('MILLA', 'PECK'),
 ('AUDREY', 'OLIVIER'),
 ('JUDY', 'DEAN'),
 ('BURT', 'DUKAKIS'),
 ('VAL', 'BOLGER'),
 ('TOM', 'MCKELLEN'),
 ('GOLDIE', 'BRODY'),
 ('JOHNNY', 'CAGE'),
 ('JODIE', 'DEGENERES'),
 ('TOM', 'MIRANDA'),
 ('KIRK', 'JOVOVICH'),
 ('NICK', 'STALLONE'),
 ('REESE', 'KILMER'),
 ('PARKER', 'GOLDBERG'),
 ('JULIA', 'BARRYMORE'),
 ('FRANCES', 'DAY-LEWIS'),
 ('ANNE', 'CRONYN'),
 ('NATALIE', 'HOPKINS'),
 ('GARY', 'PHOENIX'),
 ('CARMEN', 'HUNT'),
 ('MENA', 'TEMPLE'),
 ('PENELOPE', 'PINKETT'),
 ('FAY', 'KILMER'),
 ('DAN', 'HARRIS'),
 ('JUDE', 'CRUISE'),
 ('CHRISTIAN', 'AKROYD'),
 ('DUSTIN', 'TAUTOU'),
 ('HENRY', 'BERRY'),
 ('CHRISTIAN', 'NEESON'),
 ('JAYNE', 'NEESON'),
 ('CAMERON', 'WRAY'),
 ('RAY', 'JOHANSSON'),
 ('ANGELA', 'HUDSON'),
 ('MARY', 'TANDY'),
 ('JESSICA', 'BAILEY'),
 ('RIP', 'WINSLET'),
 ('KENNETH', 'PALTROW'),
 ('MICHELLE', 'MCCONAUGHEY'),
 ('ADAM', 'GRANT'),
 ('SEAN', 'WILLIAMS'),
 ('GARY', 'PENN'),
 ('MILLA', 'KEITEL'),
 ('BURT', 'POSEY'),
 ('ANGELINA', 'ASTAIRE'),
 ('CARY', 'MCCONAUGHEY'),
 ('GROUCHO', 'SINATRA'),
 ('MAE', 'HOFFMAN'),
 ('RALPH', 'CRUZ'),
 ('SCARLETT', 'DAMON'),
 ('WOODY', 'JOLIE'),
 ('BEN', 'WILLIS'),
 ('JAMES', 'PITT'),
 ('MINNIE', 'ZELLWEGER'),
 ('GREG', 'CHAPLIN'),
 ('SPENCER', 'PECK'),
 ('KENNETH', 'PESCI'),
 ('CHARLIZE', 'DENCH'),
 ('SEAN', 'GUINESS'),
 ('CHRISTOPHER', 'BERRY'),
 ('KIRSTEN', 'AKROYD'),
 ('ELLEN', 'PRESLEY'),
 ('KENNETH', 'TORN'),
 ('DARYL', 'WAHLBERG'),
 ('GENE', 'WILLIS'),
 ('MEG', 'HAWKE'),
 ('CHRIS', 'BRIDGES'),
 ('JIM', 'MOSTEL'),
 ('SPENCER', 'DEPP'),
 ('SUSAN', 'DAVIS'),
 ('WALTER', 'TORN'),
 ('MATTHEW', 'LEIGH'),
 ('PENELOPE', 'CRONYN'),
 ('SIDNEY', 'CROWE'),
 ('GROUCHO', 'DUNST'),
 ('GINA', 'DEGENERES'),
 ('WARREN', 'NOLTE'),
 ('SYLVESTER', 'DERN'),
 ('SUSAN', 'DAVIS'),
 ('CAMERON', 'ZELLWEGER'),
 ('RUSSELL', 'BACALL'),
 ('MORGAN', 'HOPKINS'),
 ('MORGAN', 'MCDORMAND'),
 ('HARRISON', 'BALE'),
 ('DAN', 'STREEP'),
 ('RENEE', 'TRACY'),
 ('CUBA', 'ALLEN'),
 ('WARREN', 'JACKMAN'),
 ('PENELOPE', 'MONROE'),
 ('LIZA', 'BERGMAN'),
 ('SALMA', 'NOLTE'),
 ('JULIANNE', 'DENCH'),
 ('SCARLETT', 'BENING'),
 ('ALBERT', 'NOLTE'),
 ('FRANCES', 'TOMEI'),
 ('KEVIN', 'GARLAND'),
 ('CATE', 'MCQUEEN'),
 ('DARYL', 'CRAWFORD'),
 ('GRETA', 'KEITEL'),
 ('JANE', 'JACKMAN'),
 ('ADAM', 'HOPPER'),
 ('RICHARD', 'PENN'),
 ('GENE', 'HOPKINS'),
 ('RITA', 'REYNOLDS'),
 ('ED', 'MANSFIELD'),
 ('MORGAN', 'WILLIAMS'),
 ('LUCILLE', 'DEE'),
 ('EWAN', 'GOODING'),
 ('WHOOPI', 'HURT'),
 ('CATE', 'HARRIS'),
 ('JADA', 'RYDER'),
 ('RIVER', 'DEAN'),
 ('ANGELA', 'WITHERSPOON'),
 ('KIM', 'ALLEN'),
 ('ALBERT', 'JOHANSSON'),
 ('FAY', 'WINSLET'),
 ('EMILY', 'DEE'),
 ('RUSSELL', 'TEMPLE'),
 ('JAYNE', 'NOLTE'),
 ('GEOFFREY', 'HESTON'),
 ('BEN', 'HARRIS'),
 ('MINNIE', 'KILMER'),
 ('MERYL', 'GIBSON'),
 ('IAN', 'TANDY'),
 ('FAY', 'WOOD'),
 ('GRETA', 'MALDEN'),
 ('VIVIEN', 'BASINGER'),
 ('LAURA', 'BRODY'),
 ('CHRIS', 'DEPP'),
 ('HARVEY', 'HOPE'),
 ('OPRAH', 'KILMER'),
 ('CHRISTOPHER', 'WEST'),
 ('HUMPHREY', 'WILLIS'),
 ('AL', 'GARLAND'),
 ('NICK', 'DEGENERES'),
 ('LAURENCE', 'BULLOCK'),
 ('WILL', 'WILSON'),
 ('KENNETH', 'HOFFMAN'),
 ('MENA', 'HOPPER'),
 ('OLYMPIA', 'PFEIFFER'),
 ('GROUCHO', 'WILLIAMS'),
 ('ALAN', 'DREYFUSS'),
 ('MICHAEL', 'BENING'),
 ('WILLIAM', 'HACKMAN'),
 ('JON', 'CHASE'),
 ('GENE', 'MCKELLEN'),
 ('LISA', 'MONROE'),
 ('ED', 'GUINESS'),
 ('JEFF', 'SILVERSTONE'),
 ('MATTHEW', 'CARREY'),
 ('DEBBIE', 'AKROYD'),
 ('RUSSELL', 'CLOSE'),
 ('HUMPHREY', 'GARLAND'),
 ('MICHAEL', 'BOLGER'),
 ('JULIA', 'ZELLWEGER'),
 ('RENEE', 'BALL'),
 ('ROCK', 'DUKAKIS'),
 ('CUBA', 'BIRCH'),
 ('AUDREY', 'BAILEY'),
 ('GREGORY', 'GOODING'),
 ('JOHN', 'SUVARI'),
 ('BURT', 'TEMPLE'),
 ('MERYL', 'ALLEN'),
 ('JAYNE', 'SILVERSTONE'),
 ('BELA', 'WALKEN'),
 ('REESE', 'WEST'),
 ('MARY', 'KEITEL'),
 ('JULIA', 'FAWCETT'),
 ('THORA', 'TEMPLE')]

In [ ]:
%%sql
SELECT 
    rating AS Rating
    ,COUNT(title) AS Count
FROM film
GROUP BY rating
ORDER BY Count DESC

 * sqlite:////content/sqlite-sakila.sq
Done.

[('PG-13', 223), ('NC-17', 210), ('R', 195), ('PG', 194), ('G', 178)]

In [ ]:
%%sql 
select
   count (title)
   from film

 * sqlite:////content/sqlite-sakila.sq
Done.

[(1000,)]

In [ ]:
%%sql select 
      distinct rating
from film

 * sqlite:////content/sqlite-sakila.sq
Done.

[('PG',), ('G',), ('NC-17',), ('PG-13',), ('R',)]

In [ ]:
%%sql
SELECT 
    rating AS Rating
    ,COUNT(title) AS Count
FROM film

 * sqlite:////content/sqlite-sakila.sq
Done.

[('NC-17', 1000)]

In [3]:
echo "# sql-test" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/arsalan1664/sql-test.git
git push -u origin main

SyntaxError: ignored

In [6]:
!git clone https://github.com/arsalan1664/sql-test.git

fatal: destination path 'sql-test' already exists and is not an empty directory.

In [7]:
git remote add origin https://github.com/arsalan1664/sql-test.git
git branch -M main
git push -u origin main

SyntaxError: ignored

In [5]:
echo "# sql-test" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/arsalan1664/sql-test.git
git push -u origin main

SyntaxError: ignored